/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Oswald:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: #ffffff;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/*header-area*/

.ActiveBox_header{
    background: #919154;
    padding: 20px 0;
    
}
.ActiveBox_logo{}
.ActiveBox_logo a{}
.ActiveBox_Menu{}
.ActiveBox_Menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.ActiveBox_Menu ul li{}
.ActiveBox_Menu ul li a{
    padding: 0 20px;
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
}
.ActiveBox_Menu_Icon{
    display: none;
}



.ActiveBox_banner{
    background: #ff0202;
    background-size: cover;
    background-position: center;
}
.ActiveBox_content{
    text-align: center;
    padding: 140px 0;
}
.ActiveBox_content h1{
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    color: #fdfdfd;
}
.ActiveBox_content h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 4px;
    background: #fcfbfb;
    -webkit-transition: width 0.4s ease;
    -o-transition: width 0.4s ease;
    transition: width 0.4s ease;
}

.ActiveBox_content h1:hover::after{
    width: 100%;
}
.ActiveBox_content p{
    text-transform: capitalize;
    color:rgb(250, 250, 250);
    font-size: 20px;
    border-top: 1px solid #fcfbfb ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px 20px 66px;
}

.ActiveBox_content button{
    border: 1px solid #fcfbfb;
    background: transparent;
    color: #fcfbfb;
    padding: 15px 20px;
    margin-bottom: 40px;
    font-size: 25px;
}
.ActiveBox_content a{
    display: block;
    color: #fdfdfd;
    font-size: 25px;
    font-weight: 10px;
}

.ActiveBox_About{
    background: #919154;
    text-align: center;
}
.ActiveBox_tittle{
    padding: 40px 0;
}
.ActiveBox_tittle h1{
    color: #ff0202;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
}
.ActiveBox_tittle p{
    color: #fcfbfb;
    font-size: 20px;
}

.ActiveBox_Service{
    background: #77773a;
    margin: 20px auto 30px;
    padding: 30px 0;
}
.ActiveBox_Service_Icon{
    background: -o-radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    background: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);;
    width: 60px;
    height: 70px;
    margin: 0 auto 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ActiveBox_Service_Icon i{
    color: #fcfbfb;
    font-size: 25px;
}
.ActiveBox_Service_Tittle{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.ActiveBox_Service_Tittle h5{}
.ActiveBox_Service_Tittle p{}

/*Active Box Work */

.ActiveBox_Work{
    background: #73aeb9;
    padding: 50px 0 120px;
}
.ActiveBox_Work_Tittle{
    text-align: center;
    color: #ffffff;
}
.ActiveBox_Work_Tittle h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
.ActiveBox_Work_Tittle p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.ActiveBox_Work_Image{
    position: relative;
    margin: 25px;
}
.ActiveBox_Work_Image img{
    width: 100%;
}
.ActiveBox_Work_Image_hover{
    background: rgba(21, 163, 261, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.ActiveBox_Work_Image_hover:hover{
    opacity: 1;
}
.ActiveBox_Work_Image_hover ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ActiveBox_Work_Image_hover ul li{
    width: 41px;
    height: 41px;
    border: 1px solid #ff0202;
    width: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ActiveBox_Work_Image_hover ul li i{
    color: #ff0202;
}

/*Active Box Contact*/

.ActiveBox_Contact{
    background: #5c0067;
    padding: 40px 0;
}
.ActiveBox_Contact_Tittle{
    text-align: center;
    color: #ff0202;
}

/*Footer area*/
.Footer_area{
    background: #b542c2;
    padding: 40px 0 30px;
}
.ActiveBox_Footer_Tittle{
    text-align: center;
}
.ActiveBox_Footer_Tittle p{
    color: #fcfbfb;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.ActiveBox_Footer_Icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}
.ActiveBox_Footer_Icon i{
    width: 30px;
    height: 30px;
    border: 1px solid #fcfbfb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fcfbfb;
    margin: 0 5px;
}